:host ::ng-deep .p-tabView {
    direction: rtl;
    font-size: 24px !important;
}

:host ::ng-deep .p-tabview .p-tabview-nav {
    direction: rtl;
}

:host ::ng-deep .p-tabPanel {
    direction: rtl;
    font-size: 24px !important;
}
