<div class="container">
  <div class="row">
    <p-panel header="إدخال تفاصيل الطلب">
      <table>
        <tr>
          <td>
            <div class="row">
              <p>أدخل الرقم الوطني أولاً لمعرفة اذا كانت بيانات الطالب موجودة مسبقاً أو لا :</p>
            </div>
            <div class="field">
              <label for="username1" class="block">الرقم الوطني</label>&nbsp;&nbsp;
              <input id="username1" type="username" aria-describedby="username1-help" pInputText
                (input)="changeNationalID($event)" />
              <br>
              <small *ngIf="isNew" id="username1-help" class="block p-inputgroup invalid-feedback">مقدم الطلب جديد يرجى
                ادخال
                التفاصيل</small>
            </div>
            <div class="field">
              <label for="username1" class="block"> الكلية</label>&nbsp;&nbsp;
              <p-dropdown [options]="collages" [(ngModel)]="selectedCollage" optionLabel="Collage_Name"></p-dropdown>
            </div>
            <div class="field">
              <label for="username1" class="block"> الخدمات </label>&nbsp;&nbsp;
              <p-dropdown [options]="services" [(ngModel)]="selectedService" optionLabel="Service_Name"></p-dropdown>
            </div>
          </td>
          <td>
            <p>الأوراق المطلوبة للخدمة المختارة :</p>
            <span *ngIf="!selectedService" class="block p-inputgroup invalid-feedback">لم يتم اختيار الخدمة بعد.</span>
          </td>
        </tr>
        <tr>

        </tr>
      </table>
    </p-panel>
    <p-panel header="مقدم الطلب">
      <form [formGroup]="studentDemandForm">
        <div class="row">
          <div class="col-6 grid p-fluid">
            <div class="col-6 md:col-6 details">
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input class="p-inputtext-lg" formControlName="student_Demand_FirstName" type="text" pInputText
                  placeholder="الاسم الأول">
              </div>
            </div>

            <div class="col-6 md:col-6 details">
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input class="p-inputtext-lg" formControlName="student_Demand_LastName" type="text" pInputText
                  placeholder="الاسم الأخير">
              </div>
            </div>

            <div class="col-6 md:col-6 details">
              <div class="p-inputgroup">
                <p-dropdown [options]="options" [(ngModel)]="selectedOption" optionLabel="name"
                  (onChange)="onChange($event)"></p-dropdown>
              </div>
            </div>
          </div>

          <div class="col-6 grid p-fluid" *ngIf="isAgency">
            <div class="col-6 md:col-6 details">
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input class="p-inputtext-lg" formControlName="agency_No" type="text" pInputText
                  placeholder="رقم الوكالة">
              </div>
            </div>

            <div class="col-6 md:col-6 details">
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input class="p-inputtext-lg" formControlName="agency_Date" type="text" pInputText
                  placeholder="تاريخ الوكالة">
              </div>
            </div>

            <div class="col-6 md:col-6 details">
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input class="p-inputtext-lg" formControlName="agency_Source" type="text" pInputText
                  placeholder="جهة الوكالة">
              </div>
            </div>
          </div>
        </div>




        <div class="col-12 md:col-12">
          <div class="p-inputgroup">
            <button pButton type="button" class="p-button-raised p-button-rounded"
              (click)="addDemand(studentDemandForm.value)">تسجيل الطلب</button>
          </div>
        </div>
      </form>
    </p-panel>
  </div>
</div>