<div class="container">
  <p-panel header="إضافة الطلبات التي يحملها المراسل :">
    <form [formGroup]="demandForm">
      <div class="grid p-fluid">
        <div class="col-12 md:col-12">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input formControlName="reporter_Name" class="p-inputtext-lg" type="text" pInputText placeholder="اسم المراسل">
          </div>
        </div>

        <div class="col-12 md:col-12">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-plus"></i></span>
            <input formControlName="demand_FK" class="p-inputtext-lg" type="text" pInputText placeholder="رقم الطلب">
          </div>
        </div>
        
        <div class="col-12 md:col-12">
          <div class="p-inputgroup">
            <button (click)="addDemand(demandForm.value)" pButton type="button" class="p-button-raised">إضافة الطلب</button>
          </div>
        </div>
      </div>
    </form>
  </p-panel>
  <div class="table">
    <p-table [value]="collageRecordDemand" [responsive]="true" responsiveLayout="scroll">
      <ng-template pTemplate="header">
          <tr>
              <th>رقم الطلب</th>
              <th>اسم المراسل</th>
              <th>تاريخ الطلب</th>
              <th>النوع</th>
              <th>رقم الديوان</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-demand>
          <tr>
              <td>{{demand.Demand_FK}}</td>
              <td>{{demand.Reporter_Name}}</td>
              <td>{{demand.Diwan_Date | date: 'dd/MM/yyyy'}}</td>
              <td>{{demand.Type}}</td>
              <td>{{demand.Diwan_NO}}</td>
          </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="5" style="text-align: center;">
            <strong>لا يوجد بيانات لعرضها.</strong>
          </td>
        </tr>
      </ng-template>
  </p-table>
  </div>
</div>