.main{
  height: 100vh;
  width: 100vw;
  background-color: #38A3A2;
  opacity:75%;
  direction: rtl;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.card{
  width: 50%;
}

:host ::ng-deep .p-card-header img{
  width: 30%;
  padding: 10px 0 10px 0;
}

.content{
  width: 75%;
  margin: auto;
}
