<div class="table">
    <p-table [value]="demands" [scrollable]="true" responsiveLayout="scroll" [paginator]="true" [rows]="5">
        <ng-template pTemplate="caption">
            <div class="row">
                <div class="col-3 p-fluid grid">
                    <form [formGroup]="filterForm">
                        <br>
                        <p-calendar formControlName="first_Demand_Date" dateFormat="dd.mm.yy" placeholder="من تاريخ">
                        </p-calendar>
                        <br>
                        <p-calendar formControlName="last_Demand_Date" dateFormat="dd.mm.yy" placeholder="الى تاريخ">
                        </p-calendar>
                        <br>
                    </form>
                </div>
                <div class="col-3 p-fluid grid">
                    <br>
                    <span class="p-float-label">
                        <input [(ngModel)]="nationalID" (input)="onSearchChange($event,'Student_Demand_National_ID')" type="text" id="inputtext" pInputText>
                        <label for="inputtext">بحث حسب
                            الرقم الوطني</label>
                    </span>
                    <br>
                    <span class="p-float-label">
                        <input [(ngModel)]="univercityNumber" (input)="onSearchChange($event,'Student_Demand_Univercity_Number')" type="text" id="inputtext" pInputText>
                        <label for="inputtext">بحث
                            حسب الرقم الجامعي</label>
                    </span>
                    <br>
                </div>
                <div class="col-3 p-fluid grid">
                    <br>
                    <div class="field">
                        <p-dropdown [options]="collages" [(ngModel)]="selectedCollage" optionLabel="Collage_Name"
                            placeholder="اختر كلية"></p-dropdown>
                    </div>
                    <!-- <span class="p-float-label">
                            <input class="p-inputtext-sm" type="text" id="inputtext" pInputText formControlName="selectedCollage">
                            <label for="inputtext">بحث حسب الجامعة</label>
                        </span> -->
                    <br>
                    <p-dropdown [options]="services" [(ngModel)]="selectedService" optionLabel="Service_Name"
                        placeholder="اختر خدمة"></p-dropdown>
                    <!-- <span class="p-float-label">
                            <input class="p-inputtext-sm" type="text" id="inputtext" pInputText formControlName="selectedService">
                            <label for="inputtext">بحث حسب الخدمة</label>
                        </span> -->
                    <br>
                </div>
                <div class="col-3 p-fluid grid">
                    <br>
                    <p-dropdown [options]="demandStatus" [(ngModel)]="selectedStatus" optionLabel="option"
                        placeholder="حالة الطلب"></p-dropdown>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <button pButton type="button" label="بحث" (click)="applyFilter(filterForm.value)"></button>
                    &nbsp;
                    <button class="p-button-warning" pButton type="button" label="عرض الكل" (click)="clearFilter()"></button>
                </div>
                <div class="col-6" >
                    
                </div>
                
                
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>رقم الطلب</th>
                <th>مقدم الطلب</th>
                <th>الرقم الوطني</th>
                <th>الرقم الجامعي</th>
                <th>تاريخ الطلب</th>
                <th>نتيجة الطلب</th>
                <th>حالة الطلب</th>
                <th>صاحب العلاقة</th>
                <th>الخدمة</th>
                <th>الوجهة</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-demand>
            <tr>
                <td>{{demand.Demand_ID}}</td>
                <td>{{demand.Student_Demand.Student_Demand_FirstName}} {{demand.Student_Demand.Student_Demand_LastName}}
                </td>
                <td>{{demand.Student_Demand.Student_Demand_National_ID}}</td>
                <td>{{demand.Student_Demand.Student_Demand_Univercity_Number}}</td>
                <td>{{demand.Demand_Date | date: 'dd/MM/yyyy'}}</td>
                <td>{{demand.Demand_Result}}</td>
                <td>{{demand.Demand_Status}}</td>
                <td>{{demand.Demand_Applicant_Type}}</td>
                <td>{{demand.Service?.Service_Name}}</td>
                <td>{{demand?.Destination_Collage?.Collage_Name}}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="10" style="text-align: center !important;">
                    <strong>لا يوجد بيانات لعرضها.</strong>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>