.row{
    direction: rtl;
    text-align: right;
}

:host ::ng-deep .table {
    direction: rtl;
    text-align: right;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th{
    text-align: right !important;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td{
    text-align: right !important;
}

input[type="text"]:-moz-placeholder {
    text-align: right;
}
input[type="text"]:-ms-input-placeholder {
    text-align: right;
}
input[type="text"]::-webkit-input-placeholder {
    text-align: right;
}

.label{
    direction: rtl;
    text-align: right;
}