.row{
    direction: rtl;
    text-align: right;
}

:host ::ng-deep .table {
    direction: rtl;
    text-align: right;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th{
    text-align: right !important;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td{
    text-align: right !important;
}
