:host ::ng-deep .p-dialog .product-image {
    width: 150px;
    margin: 0 auto 2rem auto;
    display: block;
}

label{
    padding-bottom: 10px;
    text-align: right;
}

:host ::ng-deep .p-dialog-content{
direction: rtl;
}

.row{
    padding: 20px;
    text-align: right;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th{

    text-align: center !important;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td{

    text-align: center !important;
}