label {
    padding-bottom: 10px;
    text-align: right;
}

:host ::ng-deep .p-dialog-content {
    direction: rtl;
}

.row {
    padding: 20px;
    text-align: right;
}

form {
    text-align: right;
    direction: rtl;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th{

    text-align: center !important;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td{

    text-align: center !important;
}